*,
*::before,
*::after { 
  box-sizing: border-box;
}

body {
  margin: 0;
  /* overflow: hidden; */
}

.gridContainer {
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.2fr;
    grid-template-rows: 0.4fr 1fr 1fr 0.4fr;
    grid-template-areas: 
    "headerNavbar headerNavbar headerNavbar" 
    ". hero ." 
    ". content ." 
    ". footer .";

    height: 100vh;
    grid-gap: 20px;
  }
  
  .headerNavbar { 
      grid-area: headerNavbar; 
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
      grid-template-areas: 
      "title title buttons";
      width: 100%;
    }

  .title {
    grid-area: title;
  }

  .spreadHorizontal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    margin-inline-end: 3rem;
  }
  
  .hero { 
    grid-area: hero; 
  }
  
  .content { 
    grid-area: content; 

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
  }
  
  .footer { 
    grid-area: footer; 
  }

  
/* Large screen */
@media only screen and (max-width: 1200px) {
   
  .headerNavbar { 
    grid-area: headerNavbar; 
    margin: 1rem;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    grid-template-areas: 
    "title"
    "title"
    "buttons";
  }
}
 
/* Medium screen, Desktop */
@media only screen and (max-width: 992px) {
   
  .headerNavbar { 
    grid-area: headerNavbar; 
    margin: 1rem;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    grid-template-areas: 
    "title"
    "title"
    "buttons";
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
 
/* Medium screen Laptop */
@media only screen and (max-width: 768px) {
   
  .headerNavbar { 
    grid-area: headerNavbar; 
    margin: 1rem;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    grid-template-areas: 
    "title"
    "buttons";
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
 
/* Mobile */
@media only screen and (max-width: 480px) {

  .headerNavbar { 
    grid-area: headerNavbar; 
    margin: 1.5rem;

    grid-template-areas: 
    "title"
    "buttons";
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}